/* color */

:root {
	--corange: hsl(31, 77%, 52%);
	--cdarkcyan: hsl(184, 100%, 22%);
	--cverydarkcyan: hsl(179, 100%, 13%);
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");

.card-1 {
	background-color: var(--corange);
	border-radius: 100px 0 0 5px;
}

button .card-1 {
	color: var(--corange);
}

.card-2 {
	background-color: var(--cdarkcyan);
	border-radius: 0 0 0 0;
}

button .card-2 {
	color: var(--cdarkcyan);
}

.card-3 {
	background-color: var(--cverydarkcyan);
	border-radius: 0 5px 5px 0;
}

button .card-3 {
	color: var(--cverydarkcyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.card {
	max-width: 310px;
}

.card-img-top {
	width: 75px;
}
