/* color */

:root {
	--corange: hsl(31, 77%, 52%);
	--cdarkcyan: hsl(184, 100%, 22%);
	--cverydarkcyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);

}

.card {
	max-width: 310px;
	min-height: 500px;
	color: var(--cwhite);
}

.card-1 {
	background-color: var(--corange);
	border-radius: 100px 0 0 5px;
}

button .card-1 {
	color: var(--corange);
}

.card-2 {
	background-color: var(--cdarkcyan);
	border-radius: 0 0 0 0;
}

button .card-2 {
	color: var(--cdarkcyan);
}

.card-3 {
	background-color: var(--cverydarkcyan);
	border-radius: 0 5px 5px 0;
}

button .card-3 {
	color: var(--cverydarkcyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}


.card-img-top {
	width: 75px ;
	font-weight: 400;
}

.card-title {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	color: var(--very-light-gray);
}

.card-text {
	font-family: 'Lexend Deca', sans-serif ;
	font-weight: 400 ;
	font-size: 15px;
	color: var(--transparent-white);
}